.infoAll{
    position: relative;
    cursor: pointer;
   
}
.infoAll::before{
    content:'';
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height:100%;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    
   
}
.infoTitle{
    position: absolute;
    top:0px;
    left: 0px;
    color: #fff;
    padding: 30px;
   
    
    
    
}
.infoTitle p{
    color: #fff !important;
}
.infoAll img{
   color:black;
   border-radius: 10px;
}