.serv_box{ 
    border:1px solid #E0E0E0;
    border-radius: 5px;
    width:270px;
    padding:15px;
}
.serv_box:hover{
    box-shadow: 1px 10px 21px 2px #E0E0E0;
    border:none;
    border-radius: 5px;

}
